{% extends "base.html.twig" %}

{% block content %}

    <section id="team" class="pb-5">
        <div class="container text-center">
            <div class="team-header">
                <h2 class="h1-responsive font-weight-bold text-center my-3">Meet Our Team</h2>
                <p class="mb-5">Meet our fantastic team that work tirelessly behind the scenes to provide excellent support and guidance to all of our pubs.</p>
            </div>
            <div class="team col-lg-10 mx-auto">
                <div class="row">
                    {% for teamMember in team %}
                    <!-- Team member -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="">
                            <div class="">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p><img class=" img-fluid"
                                                    src="{{ teamMember.image }}"
                                                    alt="card image"></p>
                                            <h4 class="card-title pb-3 pt-3">{{ teamMember.name }}</h4>
                                            <p class="card-text">{{ teamMember.role }}</p>
                                        </div>
                                    </div>
                                </div>
{#                                <div class="backside">#}
{#                                    <div class="card">#}
{#                                        <div class="card-body text-center mt-4">#}
{#                                            <h4 class="card-title">{{ teamMember.name }}</h4>#}
{#                                            <p class="card-text">#}
{#                                                {{ teamMember.bio }}#}
{#                                            </p>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- ./Team member -->
                </div>
            </div>
        </div>
    </section>

{% endblock %}
