{% set route_name = app.request.attributes.get('_route') %}

<!doctype html>
<head>
    <meta charset="utf-8">
    <title>CLO Pubs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ encore_entry_link_tags('admin-css') }}
</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous" async></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand pr-4" href="#">CLO Pubs Ltd - Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li {% if route_name == "dashboard" %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                <a class="nav-link" href="{{ path('dashboard') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li {% if route_name == "dashboard_team" %} class="nav-item active pl-2" {% else %} class="nav-item pl-2" {% endif %}>
                <a class="nav-link" href="{{ path('dashboard_team') }}">Add/Edit Team Members</a>
            </li>
            <li {% if route_name == "dashboard_pubs" %} class="nav-item active pl-2" {% else %} class="nav-item pl-2" {% endif %}>
                <a class="nav-link" href="{{ path('dashboard_pubs') }}">Add/Edit Pubs</a>
            </li>
            <li {% if route_name == "dashboard_jobs" %} class="nav-item active pl-2" {% else %} class="nav-item pl-2" {% endif %}>
                <a class="nav-link" href="{{ path('dashboard_jobs') }}">Add/Edit Jobs</a>
            </li>
            <li {% if route_name == "dashboard_applicants" %} class="nav-item active pl-2" {% else %} class="nav-item pl-2" {% endif %}>
                <a class="nav-link" href="{{ path('dashboard_applicants') }}">View Applicants</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a class="nav-link disabled" href="/logout">Sign out</a>
        </form>
    </div>
</nav>

{% block content %}

{% endblock %}
