{% set route_name = app.request.attributes.get('_route') %}

<nav class="navbar navbar-expand-lg navbar-dark static-top nav">
    <div class="container">
        <a class="navbar-brand" href="/">
{#            <img src="http://placehold.it/150x50?text=Logo" alt="">#}
            <h3>CLO Pubs</h3>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li {% if route_name == "home" %} class="nav-item active" {% else %} class="nav-item" {% endif %} >
                    <a class="nav-link" href="{{ path('home') }}">Home</a>
                </li>
                <li {% if route_name == "team" %} class="nav-item active" {% else %} class="nav-item" {% endif %} >
                    <a class="nav-link" href="{{ path('team') }}">Our Team</a>
                </li>
{#                <li {% if route_name == "pubs" %} class="nav-item active" {% else %} class="nav-item" {% endif %} >#}
{#                    <a class="nav-link" href="{{ path('pubs') }}">Our Pubs</a>#}
{#                </li>#}
                <li {% if route_name == "jobs" %} class="nav-item active" {% else %} class="nav-item" {% endif %} >
                    <a class="nav-link" href="{{ path('jobs') }}">Jobs</a>
                </li>
                <li {% if route_name == "contact" %} class="nav-item active" {% else %} class="nav-item" {% endif %} >
                    <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
